.product-image {
    min-height: 300px;
    
    img {
        width: 100%    
    }
}

.cart-image {
    width: 100px;
    height: 100px
}

.empty-state-icon {
    cursor: pointer;
    transition: transform 1s cubic-bezier(.25,.8,.25,1);
    font-size: 80px;
    
    &:hover {
        transform: rotate(360deg)
    }
}